#Title {
  font-family: "Pacifico", cursive;
  text-decoration: none;
}

#ProductTitle {
  margin-top: 2rem;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  padding: 2rem;
  color: #0056b3;
}
